html, body {
  margin: 0;
}

header {
  display: flex;  
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  background: #ddd;
  padding: 0 20px;
  position: sticky;
  top: 0;
}

.profile-picture {
  width: 50px; 
  height: 50px;
  border-radius: 50%;
}

.chatbox-container {
  border-left: 1px solid black;
  border-right: 1px solid black;
  display: flex;
  max-width: 300px;
  margin: auto;
  flex-direction: column;
  align-items: left;
}

.message-box {
  margin: 0 20px 20px 20px;
  max-width: 65%;
}

.message-content {
  border-radius: 15px 15px 15px 0;
  font-family: monospace;
  background: #55f;
  margin: 0 0 5px 0;
  padding: 10px 15px;
}

.message-box-jayce .message-content, .message-box-midjayce .message-content, .message-box-rejayce .message-content{
  background-color: red;
}

.message-box-jayce .message-content {
  border-radius: 15px 15px 0 15px;
}

.message-box-rejayce, .message-box-midjayce, .message-box-jayce {
  align-self: flex-end;
  text-align: left;
}

.message-box-rezaila .message-content{
  border-radius: 0 15px 15px 15px;
}

.message-box-midzaila .message-content{
  border-radius: 0 15px 15px 0;
}

.message-box-midjayce .message-content{
  border-radius: 15px 0 0 15px;
}

.message-box-rejayce .message-content {
  border-radius: 15px 0 15px 15px;
}

footer {
  background: pink;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: sticky;
  bottom: 0;
}